{% extends 'auth/layout.html' %}

{% block title %} Register {% endblock %}

{% block body %}

    <h2 class="text-2xl font-medium text-blue-600 m-4">Register</h2>
    <div class="max-w-xl mx-auto">
    {% if form.error_message %}
        <div class="bg-red-300 p-2 text-red-600"><p>{{ error_message }}</p></div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="w-full rounded-md bg-blue-600 px-4 py-2 text-white" type="submit">Register</button>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </form>

    
    </div>
{% endblock %}